<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
	</configSections>
	<dataConfiguration defaultDatabase="cnnString"/>
	<connectionStrings>
		<add name="cnnString" connectionString="Database=Database;Server=CIABSERVER;Initial Catalog=TISS;User ID=sa;Password=rcbab2007*" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings/>
	<system.web>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->

		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<compilation debug="true">
   <assemblies>
    <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
    <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
   </assemblies>
  </compilation>

    <!-- Tag de depuração de erro. ON - Ativado - Não mostra erros no cliente. OFF - Desativado - Mostra erros no cliente-->
    <customErrors mode="Off"></customErrors>
    <identity impersonate="false" />
    
  </system.web>

  <!--AUTENTICAÇÃO DE USUARIOS-->
  <system.web>
    <authentication mode="Forms">
      <forms name="Cliente" loginUrl="Login/Login.aspx" protection="All" path="/" timeout="90" />
    </authentication>
  </system.web>
  <!--  Seta que todos os usuarios independente de pasta tem que se autenticar no Site   -->
  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <!--  Definindo diretórios autorizados para grupo de usuários da EMPRESA   -->
  <location path="Cliente">
    <system.web>
      <authorization>
        <allow users="Empresa" />
        <allow users="Cliente" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ClienteDepartamentoSetor">
    <system.web>
      <authorization>
        <allow users="Empresa" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ClienteFuncionario">
    <system.web>
      <authorization>
        <allow users="Empresa" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ProntuarioClinico">
    <system.web>
      <authorization>
        <allow users="Empresa" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AtestadoSaude">
    <system.web>
      <authorization>
        <allow users="Empresa" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
    
</configuration>
