<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Palantir.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Palantir.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Palantir.Properties.Settings>
            <setting name="MyMachine" serializeAs="String">
                <value />
            </setting>
        </Palantir.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Palantir.Properties.Settings>
            <setting name="Palantir_reg_Register" serializeAs="String">
                <value>http://www.isilorhanel.net/Register.asmx</value>
            </setting>
        </Palantir.Properties.Settings>
    </applicationSettings>
</configuration>