<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
    <appSettings/>
    <connectionStrings/>
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true" />
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<!--AUTENTICAÇÃO DE USUARIOS-->
			<authentication mode="Forms">
				<forms name="Autenticacao" loginUrl="Login/Login.aspx" protection="All" path="/" timeout="90" />
			</authentication>
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
	<!--  Seta que todos os usuarios independente de pasta tem que se autenticar no Site   -->
	<system.web>
		<authorization>
			<deny users="?" />
		</authorization>
	</system.web>
	<!--  Definindo diretórios autorizados para grupo de usuários da EMPRESA   -->
	
	<!-- Perfil Atendimento-->
	<location path="CadastrodePacientes">
		<system.web>
			<authorization>
				<allow users="Atendimento" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	
	<!-- Perfil Medico-->
	<location path="AnamneseExameFisico">
		<system.web>
			<authorization>
				<allow users="Medico" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	
	<location path="AtestadoAlta">
		<system.web>
			<authorization>
				<allow users="Medico" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	
	<location path="DadosDemograficosdoTransplante">
		<system.web>
			<authorization>
				<allow users="Medico" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="DescricaoCirurgica">
		<system.web>
			<authorization>
				<allow users="Medico" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="EvolucaoMedica">
		<system.web>
			<authorization>
				<allow users="Medico" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	
	<location path="FormPosOperatorio">
		<system.web>
			<authorization>
				<allow users="Medico" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="PrescricaoMedica">
		<system.web>
			<authorization>
				<allow users="Medico" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="SolicitarExames">
		<system.web>
			<authorization>
				<allow users="Medico" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<!-- Perfil Ambulatorio-->
	<location path="AnamneseAmbulatorio">
		<system.web>
			<authorization>
				<allow users="Ambulatorio" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="EvolucaoMultidisciplinarAmbulatorio">
		<system.web>
			<authorization>
				<allow users="Ambulatorio" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="ReceituarioAmbulatorio">
		<system.web>
			<authorization>
				<allow users="Ambulatorio" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<!-- Perfil Equipe Multidisciplinar-->
	<location path="EvolucaoMultidisciplinar">
		<system.web>
			<authorization>
				<allow users="Multidisciplinar" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<!-- Perfil Administrativo-->
	<location path="Profissionais">
		<system.web>
			<authorization>
				<allow users="Administrativo" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Usuarios">
		<system.web>
			<authorization>
				<allow users="Administrativo" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	
	<!-- Perfil Relatorios-->
	<location path="Relatorios">
		<system.web>
			<authorization>
				<allow users="Medico" />
				<allow users="Multidisciplinar" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	
	
</configuration>
